body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;  
}
.box {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: darkblue;
  color: white;    
  align-items: center;
  }
.push {
  margin-left: auto;
}
.menu_item div {
  float: left;
}
.logo {
  padding-left: 60px;
}
.menu_item {
  padding: 0 40px 0 40px;   
}
.menu_item div {
  margin: 5px 20px;
  font-size: 35px;
}
.menu_item div:hover{
  cursor: pointer;
}

/*hamburge icon*/
#hamburger{
  width: 60px;
  height: 45px;
  position: relative;
  margin: auto 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;  
  display: none;  
}

#hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
  top: 18px;
}

#hamburger span:nth-child(4) {
  top: 36px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.down{  
  transition-property: clip;
  animation-name: toogleDown;
  animation-duration: 500ms;  
  transform-origin: top;
}
@keyframes toogleDown{
  from {clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}
  to {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}

.up{
  transition-property: clip;
  animation-name: toogleUp;
  animation-duration: 500ms;  
  transform-origin: bottom;  
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
@keyframes toogleUp{
  from {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
  to {clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}  
}

/* content placeholder begin */
.content-main{
  position: relative;
  top: 100px;
  z-index: -1;
}
.content_box div{
  padding: 30px;
  height: 500px;
}
.content1{
  background-color: grey;  
}
.content2{
  background-color: yellow;
}
.content3{
  background-color: green;
}
.content4{
  background-color: blue;
}
/* content placeholder end */