body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: darkblue;
    color: white;    
    align-items: center;
    position: fixed;
    }
.push {
    margin-left: auto;
}
.menu_item div {
    float: left;
}
.logo {
    padding-left: 60px;
}
.menu_item {
    padding-right: 50px;    
    padding-left: 50px;
    /* animation: mymove 3s 1s; */
}
/* @keyframes mymove {
  from {height: 0;}
  to {height: auto;}
} */



.menu_item div {
    margin: 0 20px;
    font-size: 32px;
}

/*hamburge icon*/
#hamburger{
    width: 55px;
    height: 39px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;  
    display: none;  
  }
  
#hamburger span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #d3531a;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #hamburger span:nth-child(1) {
    top: 0px;
  }
  
  #hamburger span:nth-child(2),#hamburger span:nth-child(3) {
    top: 16px;
  }
  
  #hamburger span:nth-child(4) {
    top: 32px;
  }
  
  #hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
/*media query*/
/* @media screen and (max-width: 1000px) {
    #hamburger {
        display: block;
    }
    .menu_item {
        display: none;
    }
} */
.content{
  background-color: green;
  height: 200%;
}